<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doulin.mapper.TCategoryMapper">

    <resultMap id="BaseResultMap" type="com.doulin.entity.TCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="item" property="item" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="shop_group_id" property="shopGroupId" jdbcType="INTEGER"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="add_by" property="addBy" jdbcType="VARCHAR"/>
        <result column="add_dt" property="addDt" jdbcType="TIMESTAMP"/>
        <result column="edit_by" property="editBy" jdbcType="VARCHAR"/>
        <result column="edit_dt" property="editDt" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, name, parent_id, image, sort, status, del_flag, add_by, add_dt, edit_by, edit_dt
    </sql>


    <select id="findByQuery" resultType="com.doulin.entity.TCategory">
        select
        <include refid="Base_Column_List"/>
        from t_category
        <where>
            <if test="query !=null">

            </if>
        </where>
    </select>
    <select id="selectPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT t2.* from(SELECT (@i :=@i + 1) AS item,t1.* FROM(SELECT
            t.id, t.name, t.parent_id, t.image, t.sort, t.status,t.shop_group_id,
            t.del_flag, t.add_by, t.add_dt, t.edit_by, t.edit_dt
        FROM
            t_category t
        WHERE
            t.del_flag = 0
            <if test="name!='' and name!=null"> AND t.name =#{name}  </if>
            <if test="shopGroupId!='' and shopGroupId!=null"> AND t.shop_group_id =#{shopGroupId}  </if>
        order by t.sort
        ) t1,(SELECT @i := 0) AS it) t2
        <if test="page != null and rows != null">
            <bind name="key_offset" value="(page-1)*rows"></bind>
            LIMIT #{key_offset},#{rows}
        </if>
    </select>
    <select id="selectTotal" parameterType="java.util.Map" resultType="INTEGER">
        SELECT count(t2.id) from(SELECT (@i :=@i + 1) AS item,t1.* FROM(SELECT
            t.id, t.name, t.parent_id, t.image, t.sort, t.status,t.shop_group_id,
            t.del_flag, t.add_by, t.add_dt, t.edit_by, t.edit_dt
        FROM
            t_category t
        WHERE
            t.del_flag = 0
            <if test="name!='' and name!=null"> AND t.name =#{name}  </if>
            <if test="shopGroupId!='' and shopGroupId!=null"> AND t.shop_group_id =#{shopGroupId}  </if>
        ) t1,(SELECT @i := 0) AS it) t2

    </select>
    <update id="deleteByIdAndLoginId" >
        UPDATE t_category t
        SET t.del_flag = 1,
             t.edit_by =#{loginUserId}, t.edit_dt=now()
        WHERE t.id =#{id}
<!--        <foreach collection="ids" index="id" item="id" open="(" separator="," close=")">-->
<!--            CAST(#{id} AS SIGNED)-->
<!--        </foreach>-->

    </update>
    <select id="selectOneByIdOrName" resultMap="BaseResultMap">
        SELECT
            t.id, t.name, t.parent_id, t.image, t.sort, t.status,t.shop_group_id,
            t.del_flag, t.add_by, t.add_dt, t.edit_by, t.edit_dt
        FROM
           t_category t
        WHERE
           t.del_flag = 0
        <if test="name!='' and name!=null"> AND t.name =#{name}  </if>
        <if test="id!='' and id!=null"> AND t.id =#{id}  </if>

    </select>

</mapper>
