<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doulin.mapper.TCommunityMapper">

    <resultMap id="BaseResultMap" type="com.doulin.entity.TCommunity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="community_name" property="communityName" jdbcType="VARCHAR"/>
        <result column="community_code" property="communityCode" jdbcType="VARCHAR"/>
        <result column="community_address" property="communityAddress" jdbcType="VARCHAR"/>
        <result column="community_logo" property="communityLogo" jdbcType="VARCHAR"/>
        <result column="province_id" property="provinceId" jdbcType="INTEGER"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="district_id" property="districtId" jdbcType="INTEGER"/>
        <result column="district_name" property="districtName" jdbcType="VARCHAR"/>
        <result column="community_state" property="communityState" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="add_by" property="addBy" jdbcType="VARCHAR"/>
        <result column="add_dt" property="addDt" jdbcType="TIMESTAMP"/>
        <result column="edit_by" property="editBy" jdbcType="VARCHAR"/>
        <result column="edit_dt" property="editDt" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, community_name, community_code, community_address, community_logo,
        province_id, city_id, district_id, community_state, del_flag, add_by,
        add_dt, edit_by, edit_dt
    </sql>


    <select id="findByQuery" resultType="com.doulin.entity.TCommunity">
        select
        <include refid="Base_Column_List"/>
        from t_community
        <where>
            <if test="query !=null">

            </if>
        </where>
    </select>
    <select id="selectOneById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.community_name,
            t.community_code,
            t.community_address,
            t.community_logo,
            t.province_id,
            get_pcd_name_fk(t.province_id) province_name,
            t.city_id,
            get_pcd_name_fk(t.city_id) city_name,
            t.district_id,
            get_pcd_name_fk(t.district_id) district_name,
            t.community_state,
            t.del_flag,
            t.add_by,
            t.add_dt,
            t.edit_by,
            t.edit_dt
        FROM
            t_community t
        WHERE
            t.del_flag = 0
            and t.id=#{id}
    </select>
    <select id="pageInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT t2.*
        FROM
            (
                SELECT
                    (@i :=@i + 1) item,
                    t1.*
                FROM
                    (
                        SELECT
                            t.id,
                            t.community_name,
                            t.community_code,
                            t.community_address,
                            t.community_logo,
                            t.province_id,
                            get_pcd_name_fk (t.province_id) province_name,
                            t.city_id,
                            get_pcd_name_fk (t.city_id) city_name,
                            t.district_id,
                            get_pcd_name_fk (t.district_id) district_name,
                            t.community_state,
                            t.del_flag,
                            t.add_by,
                            t.add_dt,
                            t.edit_by,
                            t.edit_dt
                        FROM
                            t_community t
                        WHERE
                            t.del_flag = 0
                            <if test="value!='' and value!=null">
                            and  t.community_name like '%${value}%'
                            </if>
                        ORDER BY
                            t.add_dt
                    ) t1,
                    (SELECT @i := 0) it
            ) t2
        <if test="page != null and rows != null">
            <bind name="key_offset" value="(page-1)*rows"></bind>
            LIMIT #{key_offset},#{rows}
        </if>
    </select>
    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        		SELECT
                    COUNT(*)
                FROM
                    (
                        SELECT
                            t.id,
                            t.community_name,
                            t.community_code,
                            t.community_address,
                            t.community_logo,
                            t.province_id,
                            get_pcd_name_fk (t.province_id) province_name,
                            t.city_id,
                            get_pcd_name_fk (t.city_id) city_name,
                            t.district_id,
                            get_pcd_name_fk (t.district_id) district_name,
                            t.community_state,
                            t.del_flag,
                            t.add_by,
                            t.add_dt,
                            t.edit_by,
                            t.edit_dt
                        FROM
                            t_community t
                        WHERE
                            t.del_flag = 0
                            <if test="value!='' and value!=null">
                                and  t.community_name like '%${value}%'
                            </if>
                    ) t1
    </select>
    <update id="deleteInfoBatchIds">
        UPDATE t_community t  SET t.del_flag = 1,
            t.edit_by =#{loginUserId}, t.edit_dt=now()
        WHERE t.id IN
        <foreach collection="ids" index="id" item="id" open="(" separator="," close=")">
            CAST(#{id} AS SIGNED)
        </foreach>
    </update>
    <select id="selectListInfo" resultType="com.doulin.entity.common.SelectVo">
           SELECT
                t.community_name label,
                t.community_code `VALUE`,
                t.community_code CODE,
                t.id
            FROM
                t_community t
            WHERE
                t.del_flag = 0
            AND t.community_state = 'N'
            ORDER BY
                t.community_code
    </select>
    <select id="selectTreeCommunity"  resultType="com.doulin.entity.common.SelectVo">
        SELECT
            province_name label,
            province_id `VALUE`,
            '0' parent,
            id
        FROM
            get_community_view
        UNION ALL
            SELECT
                city_name label,
                city_id `VALUE`,
                province_id parent,
                id
            FROM
                get_community_view
            UNION ALL
                SELECT
                    district_name label,
                    district_id `VALUE`,
                    city_id parent,
                    id
                FROM
                    get_community_view
                UNION ALL
                    SELECT
                        community_name label,
                        community_code `VALUE`,
                        district_id parent,
                        id
                    FROM
                        get_community_view
    </select>
</mapper>
