<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doulin.mapper.TShopHomeBaseInfoMapper">

    <resultMap id="BaseResultMap" type="com.doulin.entity.TShopHomeBaseInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_no" property="loginNo" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="shop_home_code" property="shopHomeCode" jdbcType="VARCHAR"/>
        <result column="shop_home_name" property="shopHomeName" jdbcType="VARCHAR"/>
        <result column="shop_grop_code" property="shopGropCode" jdbcType="VARCHAR"/>
        <result column="shop_user_id" property="shopUserId" jdbcType="INTEGER"/>
        <result column="community_code" property="communityCode" jdbcType="VARCHAR"/>
        <result column="shop_province_id" property="shopProvinceId" jdbcType="INTEGER"/>
        <result column="shop_city_id" property="shopCityId" jdbcType="INTEGER"/>
        <result column="shop_district_id" property="shopDistrictId" jdbcType="INTEGER"/>
        <result column="shop_address" property="shopAddress" jdbcType="VARCHAR"/>
        <result column="shop_flag" property="shopFlag" jdbcType="VARCHAR"/>
        <result column="shop_open_business_time" property="shopOpenBusinessTime" jdbcType="VARCHAR"/>
        <result column="shop_close_business_time" property="shopCloseBusinessTime" jdbcType="VARCHAR"/>
        <result column="shop_balance" property="shopBalance" jdbcType="DECIMAL"/>
        <result column="shop_title_image" property="shopTitleImage" jdbcType="VARCHAR"/>
        <result column="shop_logo" property="shopLogo" jdbcType="VARCHAR"/>
        <result column="shop_indoor_photo" property="shopIndoorPhoto" jdbcType="VARCHAR"/>
        <result column="shop_qrcode" property="shopQrcode" jdbcType="VARCHAR"/>
        <result column="shop_get_order_auto_flag" property="shopGetOrderAutoFlag" jdbcType="VARCHAR"/>
        <result column="shop_paywater_prefix" property="shopPaywaterPrefix" jdbcType="VARCHAR"/>
        <result column="order_cancel_time_unit" property="orderCancelTimeUnit" jdbcType="VARCHAR"/>
        <result column="order_cancel_maxtime" property="orderCancelMaxtime" jdbcType="INTEGER"/>
        <result column="business_license_image" property="businessLicenseImage" jdbcType="VARCHAR"/>
        <result column="social_credit_code" property="socialCreditCode" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="found_dt" property="foundDt" jdbcType="VARCHAR"/>
        <result column="period_of_validity" property="periodOfValidity" jdbcType="VARCHAR"/>
        <result column="company_class" property="companyClass" jdbcType="INTEGER"/>
        <result column="business_scope" property="businessScope" jdbcType="VARCHAR"/>
        <result column="business_class" property="businessClass" jdbcType="VARCHAR"/>
        <result column="tele_phone" property="telePhone" jdbcType="VARCHAR"/>
        <result column="company_email" property="companyEmail" jdbcType="VARCHAR"/>
        <result column="legal_person_card_name" property="legalPersonCardName" jdbcType="VARCHAR"/>
        <result column="legal_person_card_num" property="legalPersonCardNum" jdbcType="VARCHAR"/>
        <result column="legal_person_card_time" property="legalPersonCardTime" jdbcType="VARCHAR"/>
        <result column="legal_person_card_z" property="legalPersonCardZ" jdbcType="VARCHAR"/>
        <result column="legal_person_card_f" property="legalPersonCardF" jdbcType="VARCHAR"/>
        <result column="legal_person_bank_card" property="legalPersonBankCard" jdbcType="VARCHAR"/>
        <result column="legal_person_card_p" property="legalPersonCardP" jdbcType="VARCHAR"/>
        <result column="legal_person_bank_card_l" property="legalPersonBankCardL" jdbcType="VARCHAR"/>
        <result column="legal_person_bank_image" property="legalPersonBankImage" jdbcType="VARCHAR"/>
        <result column="legal_person_bank_hand_image" property="legalPersonBankHandImage" jdbcType="VARCHAR"/>
        <result column="ywq_code" property="ywqCode" jdbcType="VARCHAR"/>
        <result column="apply_state" property="applyState" jdbcType="INTEGER"/>
        <result column="apply_flag" property="applyFlag" jdbcType="VARCHAR"/>
        <result column="apply_return_msg" property="applyReturnMsg" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="bank_child_name" property="bankChildName" jdbcType="VARCHAR"/>
        <result column="bank_province" property="bankProvince" jdbcType="VARCHAR"/>
        <result column="bank_city" property="bankCity" jdbcType="VARCHAR"/>
        <result column="add_by" property="addBy" jdbcType="VARCHAR"/>
        <result column="add_dt" property="addDt" jdbcType="TIMESTAMP"/>
        <result column="edit_by" property="editBy" jdbcType="VARCHAR"/>
        <result column="edit_dt" property="editDt" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, login_no,login_name,shop_home_code, shop_home_name, shop_grop_code, shop_user_id, community_code,
        shop_province_id, shop_city_id, shop_district_id, shop_address, shop_flag, shop_open_business_time, shop_close_business_time, shop_balance, shop_title_image, shop_logo, shop_indoor_photo, shop_qrcode, shop_get_order_auto_flag, shop_paywater_prefix, order_cancel_time_unit, order_cancel_maxtime, business_license_image, social_credit_code, company_name, found_dt, period_of_validity, company_class, business_scope, business_class, tele_phone, company_email, legal_person_card_name, legal_person_card_num, legal_person_card_time, legal_person_card_z, legal_person_card_f, legal_person_bank_card, legal_person_card_p, legal_person_bank_card_l, legal_person_bank_image, legal_person_bank_hand_image, ywq_code, apply_state, apply_flag, apply_return_msg, add_by, add_dt, edit_by, edit_dt, del_flag
    </sql>


    <select id="findByQuery" resultType="com.doulin.entity.TShopHomeBaseInfo">
        select
        <include refid="Base_Column_List"/>
        from t_shop_home_base_info
        <where>
            <if test="query !=null">

            </if>
        </where>
    </select>
    <select id="selectByLoginNo" parameterType="String" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.login_no,
            t.password,
            t.login_name,
            t.shop_home_code,
            t.shop_home_name,
            t.shop_grop_code,
            t.shop_user_id,
            t.community_code,
            t.shop_province_id,
            t.shop_city_id,
            t.shop_district_id,
            t.shop_address,
            t.shop_flag,
            t.shop_open_business_time,
            t.shop_close_business_time,
            t.shop_balance,
            t.shop_title_image,
            t.shop_logo,
            t.shop_indoor_photo,
            t.shop_qrcode,
            t.shop_get_order_auto_flag,
            t.shop_paywater_prefix,
            t.order_cancel_time_unit,
            t.order_cancel_maxtime,
            t.business_license_image,
            t.social_credit_code,
            t.company_name,
            t.found_dt,
            t.period_of_validity,
            t.company_class,
            t.business_scope,
            t.business_class,
            t.tele_phone,
            t.company_email,
            t.legal_person_card_name,
            t.legal_person_card_num,
            t.legal_person_card_time,
            t.legal_person_card_z,
            t.legal_person_card_f,
            t.legal_person_bank_card,
            t.legal_person_card_p,
            t.legal_person_bank_card_l,
            t.legal_person_bank_image,
            t.legal_person_bank_hand_image,
            t.ywq_code,
            t.apply_state,
            t.apply_flag,
            t.apply_return_msg,
--             t.add_by,
--             t.add_dt,
--             t.edit_by,
--             t.edit_dt,
--             t.del_flag,
          b.bank_name,
          b.bank_child bank_child_name,
          b.province bank_province,
          b.city bank_city
        FROM
            t_shop_home_base_info t
          LEFT JOIN t_bank_info b on t.legal_person_bank_card_l=b.bank_num
        where t.del_flag=0 and  t.login_no=#{loginNo}
    </select>

</mapper>
