<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doulin.mapper.SysDictValueMapper">

    <resultMap id="BaseResultMap" type="com.doulin.entity.SysDictValue">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type_code" property="typeCode" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="add_by" property="addBy" jdbcType="VARCHAR"/>
        <result column="add_dt" property="addDt" jdbcType="TIMESTAMP"/>
        <result column="edit_by" property="editBy" jdbcType="VARCHAR"/>
        <result column="edit_dt" property="editDt" jdbcType="TIMESTAMP"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, type_code, label, value, sort, remark, del_flag, add_by, add_dt, edit_by, edit_dt
    </sql>


    <select id="findByQuery" resultType="com.doulin.entity.SysDictValue">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_value
        <where>
            <if test="query !=null">

            </if>
        </where>
    </select>

</mapper>
